$button-height: 2.4em;

.button {
  @include appearance(none);
  background-color: $highlight;
  border-radius: 3px;
  color: $light;
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  font: bold 80% $sans;
  height: $button-height;
  letter-spacing: 1px;
  line-height: ($button-height - 0.1em) !important;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  &:disabled, &.disabled {
    @include opacity(0.5);
  }

  &:hover {
    background-color: lighten($highlight, 5%);
  }

  &:active {
    @include box-shadow(inset rgba($dark, 0.3) 0 1px 2px);
    background-color: darken($highlight, 5%);
  }

  &.big {
    display: block;
    font-size: 120%;
  }

  &.small {
    font-size: 80%;
  }

  &::-moz-focus-inner {
    border: none;
    padding: 0 !important;
    vertical-align: middle;
  }
}

@-moz-document url-prefix() {
  .button {
    vertical-align: middle;
  }
}
