@mixin font-face($family, $url) {
  @font-face {
    font-family: "#{$family}";
    font-weight: normal !important;
    font-style: normal;
    src: font-url("#{$url}.eot");
    src: font-url("#{$url}.eot?#iefix") format("embedded-opentype"),
         font-url("#{$url}.woff") format("woff"),
         font-url("#{$url}.ttf") format("truetype"),
         font-url("#{$url}.svg") format("svg");
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: "#{$family}";
      src: font-url("#{$url}.svg") format("svg");
    }
  }

  .#{$url} {
    font-family: $family;
    font-weight: normal !important;
  }
}

// @include font-face($app, $app-slug);
